@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f8fafc;
  min-height: 100vh;
}

* {
  -webkit-tap-highlight-color: transparent;
}
